<!DOCTYPE HTML>
<html lang="en">
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
<script type="text/javascript" src="task1.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="task1.css">
</head>
<body ng-app="Freelancer.main" ng-controller="mainCtrl">
<div class="container-fluid">
    <div class="row centered">
        <div>
            <div id="validation-div" ng-show="show_messages" class="row" ng-repeat="input in form_inputs">
                <p ng-hide="form.{{input.input_name}}.$valid" style="color:red"> {{input.name}} is a required field</p>
            </div>
        </div>
        <form id="account_form" name="form" class="form_width">
            <div class="required-span-div">
                <span><span class= "asterisk-red">*</span>= Required</span>
            </div>
            <div class="panel panel-default box-background">
                <div class="panel-heading box-top">
                    Account Information
                </div>
                <div class="panel-body form_body_text">
                    <div class="row form-group-new">
                        <label for="name" class="col-xs-4 col-form-label text-right">First name<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <input type="text" name="name" id="name" class=" " data-name="Name" ng-model="form_inputs[0].value" required>
                        </div>
                    </div>
                    <div class="row form-group-new">
                        <label for="state" class="col-xs-4 col-form-label text-right">State<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <select name="state" class=" " data-name="State" ng-model="form_inputs[1].value" ng-options="state.StateName for state in states" required>
                                <option value="" disabled>--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group-new">
                        <label for="country" class="col-xs-4 col-form-label text-right">Country<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <select name="country" class=" " data-name="Country" ng-model="form_inputs[2].value" ng-options="country.CountryName for country in countries" required>
                                <option value="" disabled>--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group-new">
                        <label for="company_phone" class="col-xs-4 col-form-label text-right">Company phone<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <input type="text" name="company_phone" class=" " ng-model="form_inputs[3].value" id="company_phone" required pattern="[0-9]+" title="only numbers" data-name="Company phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default box-background">
                <div class="panel-heading box-top">
                    User Information
                </div>
                <div class="panel-body form_body_text">
                    <div class="row form-group-new">
                        <label for="username" class="col-xs-4 col-form-label text-right">Username<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <input type="text" name="username" ng-model="form_inputs[4].value" id="username" class=" " pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,20}" title='8-20 characters, including at least 1 letter and 1 number or symbol. (Please exclude your first and last name, username, e-mail address and "Monster")' data-name="Username" required>
                        </div>
                    </div>
                    <div class="row form-group-new">
                        <label for="password" class="col-xs-4 col-form-label text-right">Password<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <input type="password" ng-model="form_inputs[5].value" name="password" id="password" class=" " pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,20}" title='8-20 characters, including at least 1 letter and 1 number or symbol. (Please exclude your first and last name, username, e-mail address and "Monster")' data-name="Password" required>
                        </div>
                    </div>
                    <div class="row form-group-new">
                        <label for="email" class="col-xs-4 col-form-label text-right">Email<span class= "asterisk-red"> *</span></label>
                        <div class="col-xs-7">
                            <input type="email" ng-model="form_inputs[6].value" name="email" id="email" class=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="xyz@something.com" data-name="Email" required>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="checkbox checkbox-padding-left">
                    <label class="checkbox-under-form"><input type="checkbox" value=""><span class="asterisk-red">*</span> I have read, and I accept, Monster's <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</label>
                </div>
            </div>
            <div class="divider-row"></div>

                    <div class="row form-group-new">
                        <div class="col-xs-7">
                        </div>
                        <div class="col-xs-5">
                            <div class="pull-right">
                                <!--input type="submit" name="Cancel" id="save_form_button" ng-click="cancel()"value="Cancel"-->
                                <input class="btn btn-primary btn-xs cancel-button" type="submit" value="Cancel" name="Cancel" id="save_form_button" ng-click="cancel()">

                                <!--input type="submit" name="Save and Continue" id="save_form_button" ng-click="showMessages(); save()" value="Save and continue"-->
                                <input class="btn btn-primary btn-xs save-button" type="submit" name="Save and Continue" id="save_form_button" ng-click="showMessages(); save()" value="Save and continue">
                            </div>
                        </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
